.scroller-wrapper {
  height: calc(55vh - 10px);
}

.right-span {
  position: relative;
  top: -5px;
}

.right-icons:hover {
  color: white;
  cursor: pointer;
}

.scroller {
  height: 46vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
