.side-bar-scroll-wrapper {
  min-height: calc(68vh + 4px);
  background-color: var(--light-grey);
  color: var(--text-color);
}

@media screen and (max-width: 900px) {
  .side-bar-scroll-wrapper {
    display: none;
  }
}
