.right-side-bar-wrapper {
  min-height: 90vh;
  max-height: 90vh;
  width: calc(20% - 10px);

  background-color: black;
  overflow-y: hidden;

  .sub-wrapper {
    max-height: 88vh;
    background-color: var(--dark-grey);
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 900px) {
  .right-side-bar-wrapper {
    display: none;
  }
}
