.volume-wrapper {
  background-color: purple;
  height: 3px;
  width: 60px;
  .volume {
    border-radius: 3px;
    width: 75%;
    height: 3px;
    background-color: white;
  }
}

@media screen and (max-width: 900px) {
  .device-controls-wrapper {
    width: 100%;
    padding: 10px;
    .icon {
      max-height: 10%;
      width: 5%;
    }
  }
}
