.sticky-header-wrapper {
  min-height: 15vh;
  color: var(--text-color);

  .button {
    height: 2rem;
    width: 20%;
    color: var(--text-color);
    background-color: var(--lighter-grey);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    cursor: pointer;
  }

  .button:hover {
    background-color: var(--text-color);
    border: 1px solid var(--lighter-grey);
    color: var(--lighter-grey);
  }
}
