.about-artist-wrapper {
  min-height: 20vh;
  width: 100%;

  background-color: var(--lighter-grey);
  color: var(--text-color);

  .artist-image {
    width: 30%;
    height: 30%;

    border-radius: 50%;
  }

  .follow-btn {
    height: 2rem;
    width: 30%;
    color: var(--text-color);
    background-color: var(--lighter-grey);
    border: 1px solid var(--text-color);
    border-radius: 15px;
  }
}
