.side-bar-widget-wrapper {
  min-height: calc(15vh + 20px);

  background-color: var(--light-grey);
  color: var(--text-color);

  .widget-icon-container {
    width: 100%;
    align-items: center;

    .widget-icon {
      height: var(--icon-size);
      width: var(--icon-size);
    }
  }
}
