.app-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}

.flex-col-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}

.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.r-b {
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}
