.main-content-search-wrapper {
  min-height: 72vh;
  max-height: 72vh;

  overflow-y: scroll;

  .recents-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35vh;
  }
}
