.footer-details-wrapper {
  .footer-details-image {
    height: 15%;
    width: 15%;
  }
}

@media screen and (max-width: 900px) {
  .footer-details-wrapper {
    display: none;
    .footer-details-image {
      height: 100%;
      width: 100%;
    }
  }

  .hide {
    display: none;
  }
}
