.main-content-wrapper {
  min-height: calc(88vh - 5px);
  width: 60%;
  background-color: var(--light-grey);
  color: var(--text-color);
}

@media screen and (max-width: 900px) {
  .main-content-wrapper {
    width: 100%;
  }
}
